/* Page Title */
.title1 {
    text-align: center;
} 

/* Password Field */
.card-text {
    text-align: center;
    border-style: dashed;
    border-color: gray;
    border-width: 2px;
    border-radius: 12px;
    padding: 50px;
} 

/* Button */
.button {
    text-align: center;
} 
